{{ template "header" . }}

<h1>Project: <a href="/project/{{.Page.Project.Id}}">{{.Page.Project.Name}}</a></h1>
<h2>Control: {{.Page.Control.Name}}</h2>
<p>Created at <i>{{.Page.Control.CreatedAt}}</i></p>

<ul>
{{ $lookup := .Page.Lookup }}
{{ range .Page.Values }}
<li>{{(index $lookup .DimensionId)}} - {{.Rank}}</li>
{{ end }}
</ul>

{{ if not .Page.ReadOnly }}
<h3>Upload a new sample</h3>
<form method="POST" action="/project/{{.Page.Project.Id}}/control/{{.Page.Control.Id}}/sample">
<input type="text" name="name" /><br/>
<textarea name="values"></textarea>
<input type="submit" value="Upload" />
</form>
{{ end }}

{{ template "footer" . }}
