{{ template "header" . }}

<h1>Project: <a href="/project/{{.Page.Project.Id}}">{{.Page.Project.Name}}</a></h1>
<h2>Differential expression: {{.Page.DiffExp.Name}}</h2>
<p>Created at <i>{{.Page.DiffExp.CreatedAt}}</i></p>

<ul>
{{ $lookup := .Page.Lookup }}
{{ range .Page.Values }}
<li>{{(index $lookup .DimensionId)}} - {{.Diff}}</li>
{{ end }}
</ul>

{{ template "footer" . }}
