{{ template "header" . }}

<h1>Project: {{.Page.Project.Name}}</h1>
<p>Created at <i>{{.Page.Project.CreatedAt}}</i></p>
<p>Project is associated with {{ (len .Page.Dimensions) }} dimensions.</p>

<h2>Controls</h2>
<ul>
{{ $page := .Page }}
{{ range .Page.Controls }}
<li><a href="/project/{{$page.Project.Id}}/control/{{.Id}}">{{.Name}}</a></li>
{{ end }}

{{ if not .Page.ReadOnly }}
<br/>
<li>
  <form method="POST" action="/project/{{.Page.Project.Id}}/control">
  <input type="text" name="name" /><br/>
  <textarea name="values"></textarea>
  <input type="submit" value="Upload" />
  </form>
</li>
{{ end }}
</ul>

<h2>Differential expressions</h2>
<ul>
{{ $page := .Page }}
{{ range .Page.DiffExps }}
<li><a href="/project/{{$page.Project.Id}}/diffexp/{{.Id}}">{{.Name}}</a></li>
{{ end }}

{{ if not .Page.ReadOnly }}
<br/>
<li>
  <form method="POST" action="/project/{{.Page.Project.Id}}/diffexp">
  <input type="text" name="name" /><br/>
  <textarea name="values"></textarea>
  <input type="submit" value="Upload" />
  </form>
</li>
{{ end }}
</ul>

{{ template "footer" . }}
