{{ template "header" . }}

<h1>Your Projects</h1>
<ul>
{{ range .Page.Projects }}
<li><a href="/project/{{.Id}}">{{.Name}}</a></li>
{{ end }}

<br/>
<li>
  <form method="POST" action="/project/">
  <input type="text" name="name" /><br/>
  <textarea name="dimensions"></textarea>
  <input type="submit" value="Create" />
  </form>
</li>
</ul>

{{ template "footer" . }}
